In [1]:
import sys, os
from ipywidgets import Button, HTML, HBox, FileUpload, Label, Output, Layout, Image

sys.path.append(os.getcwd() + '/src')

from sailing_session import SailingSession

In [5]:
# vakaros = SailingSession('./examples/Session 2522540656-2023-05-19 18:12:18.652.csv')
s = SailingSession('./examples/Chrissy Field Kitefoil.gpx')

add_distances elapsed: 1.694911003112793 s.
add_time_steps elapsed: 0.5918030738830566 s.
calculate_cog elapsed: 1.2328999042510986 s.
calculate_sog_kts elapsed: 0.0006189346313476562 s.

/opt/anaconda3/envs/voila-gpx-viewer/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/opt/anaconda3/envs/voila-gpx-viewer/lib/python3.10/site-packages/numpy/core/_methods.py:190: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [7]:
s.df

,timestamp,latitude,longitude,distance_step,distance_cumulative,time_diff,time_elapsed_sec,cog,sog_kts,vmg_kts,upwind,tack_raw,is_moving,tack,segment
0,2021-09-03 00:21:43+00:00,37.807103,-122.451593,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,1,0.0,1.0,1.0
1,2021-09-03 00:21:44+00:00,37.807157,-122.451622,6.498615,6.498615,1.0,1.0,337.1,12.632267,0.859187,1.0,1,1.0,1.0,1.0
2,2021-09-03 00:21:46+00:00,37.807288,-122.451659,14.838132,21.336747,2.0,3.0,347.2,14.421477,-1.557510,-1.0,1,1.0,1.0,1.0
3,2021-09-03 00:21:48+00:00,37.807428,-122.451638,15.687073,37.023819,2.0,5.0,6.9,15.246580,-6.659733,-1.0,1,1.0,1.0,1.0
4,2021-09-03 00:21:49+00:00,37.807505,-122.451607,8.937650,45.961470,1.0,6.0,17.7,17.373362,-10.382758,-1.0,1,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2274,2021-09-03 01:42:39+00:00,37.806305,-122.451541,0.166262,37930.915796,2.0,4856.0,218.3,0.161593,0.135983,0.0,-1,0.0,0.0,57.0
2275,2021-09-03 01:42:42+00:00,37.806308,-122.451535,0.589445,37931.505242,3.0,4859.0,62.7,0.381929,-0.377929,-0.0,1,0.0,0.0,57.0
2276,2021-09-03 01:42:46+00:00,37.806304,-122.451526,0.945080,37932.450321,4.0,4863.0,115.1,0.459271,-0.329815,-0.0,-1,0.0,0.0,57.0
2277,2021-09-03 01:42:55+00:00,37.806304,-122.451528,0.223193,37932.673514,9.0,4872.0,277.2,0.048206,0.043253,0.0,1,0.0,0.0,57.0
2278,2021-09-03 01:43:03+00:00,37.806284,-122.451504,3.076708,37935.750222,8.0,4880.0,135.6,0.747579,-0.320663,-0.0,-1,0.0,0.0,57.0

In [9]:
s.tacks

[38,
 129,
 172,
 193,
 235,
 273,
 294,
 309,
 368,
 473,
 648,
 697,
 741,
 773,
 862,
 890,
 910,
 939,
 966,
 1024,
 1116,
 1275,
 1323,
 1401,
 1454,
 1511,
 1547,
 1560,
 1585,
 1618,
 1639,
 1658,
 1785,
 1956,
 2011,
 2113]